---
- name: Install Docker CE
  hosts: all
  become: true
  tasks:
    - name: Add Docker GPG key
      apt_key:
        url: https://download.docker.com/linux/ubuntu/gpg
        state: present

    - name: Add Docker APT repository
      apt_repository:
        repo: deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ansible_distribution_release}} stable
        state: present

    - name: Install Docker CE and prerequisites
      apt:
        name: "{{ item }}"
        state: present
      loop:
        - apt-transport-https
        - ca-certificates
        - curl
        - software-properties-common
        - docker-ce
        - python-pip

    - name: Install docker python library
      pip:
        name: "{{ item }}"
        state: present
      loop:
        - docker
        - docker-compose

    - name: Enable Docker daemon
      service:
        name: docker
        enabled: yes
        state: stopped
